RVL_ALIAS "sysclk" "sysclk"; 
RVL_ALIAS "sysclk" "sysclk"; 
RVL_ALIAS "sysclk" "sysclk"; 
RVL_ALIAS "sysclk" "sysclk"; 
RVL_ALIAS "sysclk" "u2/\UART_Gen(0)\/u1/clk"; 
RVL_ALIAS "clk_125" "Winner/u1/clk"; 
RVL_ALIAS "clk_125" "pcie_x1_core_inst/pcie_x1_sys_clk_125"; 
RVL_ALIAS "refclk" "refclk"; 
RVL_ALIAS "clk_125" "clk_125"; 
RVL_ALIAS "clk_125" "clk_125"; 
#RVL_ALIAS "pcie/pclk" "pcie/u1_pcs_pipe/pipe_top_0/PCLK"; 
COMMERCIAL ;
# ===================================================================
# ECP3 PCI Express Solutions Board Preference File for PCIe Demos
#
# I/O provided on board
#-----------------------
# x1 PCIe connector = PCSA
# x4 PCIe connector = PCSB
# x1 PCIe Link Status LEDs (front side) = (none na_*)
# x4 PCIe Link Status LEDs (back side) = na_*
# 16 Segment LED
# DIP Switch
# Mictor Logic Analyzer connector
# 16 Test Points
# ===================================================================
# 
# NOTES: Hierarchy clock name may change dependent on design/tools. 
# For clock netnames, user can cross reference the clock section of 
# the map report file (.mrp)
#
#=========== Device Configuration settings 
#SYSCONFIG PERSISTENT=OFF CONFIG_MODE=SPI DONE_EX=OFF MCCLK_FREQ=26 CONFIG_SECURE=OFF WAKE_UP=21 WAKE_ON_LOCK=OFF COMPRESS_CONFIG=OFF ENABLE_NDR=OFF CONFIG_IOVOLTAGE=3.3 STRTUP=EXTERNAL ;
#
#=========== ECP3 PCIE Solution Board I/O Bank Voltages
#BANK 0 VCCIO 3.3 V;
#BANK 1 VCCIO 3.3 V;
#BANK 2 VCCIO 3.3 V;
#BANK 3 VCCIO 3.3 V;
# BANK 4 - not used
# BANK 5 - not used
#BANK 6 VCCIO 1.8 V;
#BANK 7 VCCIO 3.3 V;
#-------- Inside PCIe Core
#-------- Relaxing timing on paths that do not need to be covered
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
BLOCK PATH FROM CELL "*ctc_reset_chx*" ;
BLOCK NET "*ffs_pcie_con*" ;
BLOCK NET "*chx_RESET_n_i*" ;
#
#-------- Multicycle path internal to the PCIe IP Core
#MULTICYCLE FROM CELL "*lbk_sloopback*" TO CELL "*cs_reqdet_sm*" 2.000000 X ;
#MULTICYCLE FROM CELL "*lbk_sloopback*" TO CELL "*cnt_st*" 2.000000 X ;
#MULTICYCLE FROM CELL "*lbk_sloopback*" TO CELL "*ffc_pcie_det_en*" 2.000000 X ;
MULTICYCLE FROM CELL "*nfts_rx_skp_cnt*" TO CELL "*cnt_done_nfts_rx*" 2.000000 X ;
MULTICYCLE FROM CELL "*nfts_rx_skp_cnt*" TO CELL "*ltssm_nfts_rx_skp*" 2.000000 X ;
#MULTICYCLE FROM CELL "*ltssm_state*" TO CELL "*ffc_pwdnb*" 2.000000 X ;
#MULTICYCLE FROM CELL "*lbk_sloopback*" TO CELL "*enable_det*" 2.000000 X ;
#BLOCK PATH FROM CLKNET "pcie/pclk" TO CLKNET "clk_125_c" ;
#BLOCK PATH FROM CLKNET "clk_125_c" TO CLKNET "pcie/pclk" ;
#MAXDELAY FROM CELL "pcie/u1_dut/u1_dut/u1_dut/u1_phy/u1_scram[0]/ltssm_fndisp_8" TO ASIC "pcie/u1_pcs_pipe/pcs_top_0/DCU1_inst" PIN "CH1_FF_TX_D_9" 3.500000 ns ;
#MAXDELAY FROM CELL "pcie/u1_dut/u1_dut/u1_dut/u1_phy/u1_scram[3]/ltssm_fndisp_8" TO ASIC "pcie/u1_pcs_pipe/pcs_top_0/DCU1_inst" PIN "CH1_FF_TX_D_9" 3.500000 ns ;
#
#-------- PCIe IP referebce clock frequency setting
FREQUENCY NET "*refclk" 100.000000 MHz ;
#-------- PCIe IP main clock and USER clock frequency setting
#
#-------- Transmit clock frequency setting
FREQUENCY NET "*pclk" 250.000000 MHz PAR_ADJ 30.000000 ;
#
#-------- Recovered clock frequency setting
FREQUENCY NET "*/u1_pcs_pipe/ff_rx_fclk_0" 250.000000 MHz PAR_ADJ 30.000000 ;
#
#-------- Primary and secondary clock routings
#USE PRIMARY NET "clk_125_c" ;
USE PRIMARY NET "pcie_x1_core_inst/pcie_x1_inst/pclk" ;
#USE SECONDARY NET "pcie/u1_pcs_pipe/ff_rx_fclk_0" ;
#USE SECONDARY NET "pcie/u1_pcs_pipe/ff_rx_fclk_1" ;
#USE SECONDARY NET "pcie/u1_pcs_pipe/ff_rx_fclk_2" ;
#USE SECONDARY NET "pcie/u1_pcs_pipe/ff_rx_fclk_3" ;
#
#
#-------- IO location and pin type for all top level ports 
UGROUP "PCS_PIPE" BBOX 10 40 
	BLKNAME pcie_x1_core_inst/pcie_x1_inst/u1_pcs_pipe;
LOCATE UGROUP "PCS_PIPE" SITE "R84C40D" ;
BLOCK JTAGPATHS ;
SYSCONFIG MCCLK_FREQ=38.8 SLAVE_SPI_PORT=ENABLE MASTER_SPI_PORT=DISABLE SLAVE_PARALLEL_PORT=DISABLE CONFIG_IOVOLTAGE=3.3 CONFIG_MODE=SSPI ;
#PROHIBIT PRIMARY NET "rstn_c" ;
FREQUENCY NET "clk_125" 125.000000 MHz PAR_ADJ 30.000000 ;
USE PRIMARY NET "clk_125" ;
#IO Location
LOCATE COMP "nReset" SITE "J19" ;
# LOCATE COMP "RGMII0_MDC" SITE "C18" ;
# LOCATE COMP "RGMII0_MDIO" SITE "D17" ;
# LOCATE COMP "RGMII0_RXCTL" SITE "E16" ;
# LOCATE COMP "RGMII0_RXC" SITE "F16" ;
# LOCATE COMP "RGMII0_RXD[0]" SITE "D18" ;
# LOCATE COMP "RGMII0_RXD[1]" SITE "E17" ;
# LOCATE COMP "RGMII0_RXD[2]" SITE "E18" ;
# LOCATE COMP "RGMII0_RXD[3]" SITE "F18" ;
# LOCATE COMP "RGMII0_TXD[0]" SITE "F17" ;
# LOCATE COMP "RGMII0_TXD[1]" SITE "G18" ;
# LOCATE COMP "RGMII0_TXC" SITE "G16" ;
# LOCATE COMP "RGMII0_TXD[2]" SITE "H16" ;
# LOCATE COMP "RGMII0_TXD[3]" SITE "H18" ;
# LOCATE COMP "RGMII0_TXCTL" SITE "H17" ;
# LOCATE COMP "BLSP3_I2C_SDA" SITE "J17" ;
# LOCATE COMP "BLSP3_I2C_SCL" SITE "J16" ;
# LOCATE COMP "BLSP3_UART_TX" SITE "C20" ;
# LOCATE COMP "BLSP3_UART_RX" SITE "D19" ;
# LOCATE COMP "BLSP2_UART_TX" SITE "D20" ;
# LOCATE COMP "BLSP2_UART_RX" SITE "E19" ;
# LOCATE COMP "BLSP12_SPI_MOSI" SITE "E20" ;
# LOCATE COMP "BLSP12_SPI_MISO" SITE "F19" ;
# LOCATE COMP "BLSP12_SPI_CS_N" SITE "F20" ;
# LOCATE COMP "BLSP12_SPI_CLK" SITE "G20" ;
# LOCATE COMP "SPI_FLASH_HOLD_RST" SITE "G19" ;
# LOCATE COMP "SPI_FLASH_NWP" SITE "H20" ;
# LOCATE COMP "PCIE1_WAKE" SITE "J18" ;
# LOCATE COMP "PCIE1_RST_N" SITE "K18" ;
# LOCATE COMP "REFCLK2" SITE "J20" ;
# LOCATE COMP "ETH0_NRST" SITE "K20" ;
LOCATE COMP "VIDEO_SYNC" SITE "L20" ;
LOCATE COMP "SN_2_ZABAD" SITE "M20" ;
LOCATE COMP "ZABAD_2_SN" SITE "L19" ;
LOCATE COMP "TEL_COM_RS485_1" SITE "M19" ;
LOCATE COMP "TEL_COM_RS485_2" SITE "L16" ;
LOCATE COMP "TEL_COM_RS485_3" SITE "L17" ;
LOCATE COMP "TEL_COM_RS485_4" SITE "L18" ;
LOCATE COMP "TEL_COM_RS485_5" SITE "M18" ;
LOCATE COMP "TEL_CLK" SITE "N16" ;
LOCATE COMP "PIB_COM" SITE "M17" ;
LOCATE COMP "SERVO_COM" SITE "N18" ;
LOCATE COMP "SN_2_IMU_DAT" SITE "P17" ;
LOCATE COMP "SN_2_IMU_CLK" SITE "N17" ;
LOCATE COMP "IMU_2_SN_DAT" SITE "P16" ;
LOCATE COMP "IMU_2_SN_CLK" SITE "R16" ;
LOCATE COMP "GPS_2_SN_DAT" SITE "R17" ;
LOCATE COMP "GPS_2_SN_CLK" SITE "T16" ;
LOCATE COMP "SN_2_GPS_DAT" SITE "N19" ;
LOCATE COMP "COM_SAFE_ARM_OUT" SITE "N20" ;
LOCATE COMP "COM_SAFE_ARM_IN" SITE "P19" ;
LOCATE COMP "COM_PF" SITE "P18" ;
LOCATE COMP "COM_WH" SITE "P20" ;
LOCATE COMP "COM" SITE "R20" ;
LOCATE COMP "TEL_COM_RS485_5_DE" SITE "T20" ;
LOCATE COMP "TEL_CLK_DE" SITE "U20" ;
LOCATE COMP "PIB_COM_DE" SITE "T19" ;
LOCATE COMP "COM_DE" SITE "R18" ;
LOCATE COMP "COM_WH_DE" SITE "U19" ;
LOCATE COMP "COM_PF_DE" SITE "T18" ;
LOCATE COMP "SERVO_COM_DE" SITE "U18" ;
# LOCATE COMP "HUMIDITY_CLK" SITE "U17" ;
# LOCATE COMP "HUMIDITY_DATA" SITE "U16" ;
# LOCATE COMP "EXT_TEMP_DQ_OW" SITE "T17" ;
# LOCATE COMP "SIB_IRPB_COMM3_P" SITE "A6" ;
# LOCATE COMP "SIB_IRPB_COMM3_N" SITE "B6" ;
# LOCATE COMP "IRPB_TEST_EN" SITE "E6" ;
# LOCATE COMP "IRPB_PROG_EN" SITE "D6" ;
# LOCATE COMP "SIB_IRPB_COMM4_P" SITE "E7" ;
# LOCATE COMP "SIB_IRPB_COMM4_N" SITE "D7" ;
# LOCATE COMP "IRPB_VID1_P" SITE "C6" ;
# LOCATE COMP "IRPB_VID1_N" SITE "C7" ;
# LOCATE COMP "IRPB_VID2_P" SITE "E8" ;
# LOCATE COMP "IRPB_VID2_N" SITE "D8" ;
# LOCATE COMP "IRPB_VID3_P" SITE "C8" ;
# LOCATE COMP "IRPB_VID3_N" SITE "B8" ;
# LOCATE COMP "IRPB_VID4_P" SITE "A7" ;
# LOCATE COMP "IRPB_VID4_N" SITE "A8" ;
# LOCATE COMP "IRPB_VID_CLK_P" SITE "D9" ;
# LOCATE COMP "IRPB_VID_CLK_N" SITE "E9" ;
# LOCATE COMP "SIB_IRPB_COMM1_P" SITE "D10" ;
# LOCATE COMP "SIB_IRPB_COMM1_N" SITE "E10" ;
# LOCATE COMP "IRPB_SIB_COMM1_P" SITE "B9" ;
# LOCATE COMP "IRPB_SIB_COMM1_N" SITE "C10" ;
# LOCATE COMP "SIB_IRPB_COMM2_P" SITE "A9" ;
# LOCATE COMP "SIB_IRPB_COMM2_N" SITE "B10" ;
# LOCATE COMP "IRPB_SIB_COMM2_P" SITE "A10" ;
# LOCATE COMP "IRPB_SIB_COMM2_N" SITE "A11" ;
# LOCATE COMP "IRPB_SYNC_P" SITE "B11" ;
# LOCATE COMP "IRPB_SYNC_N" SITE "C11" ;
# LOCATE COMP "DIFF_DIO_P" SITE "D11" ;
# LOCATE COMP "DIFF_DIO_N" SITE "E11" ;
# LOCATE COMP "CL_LVDS_P0" SITE "A12" ;
# LOCATE COMP "CL_LVDS_N0" SITE "A13" ;
# LOCATE COMP "CL_LVDS_P1" SITE "B13" ;
# LOCATE COMP "CL_LVDS_N1" SITE "C13" ;
# LOCATE COMP "CL_LVDS_P2" SITE "D13" ;
# LOCATE COMP "CL_LVDS_N2" SITE "E13" ;
# LOCATE COMP "CL_LVDS_P3" SITE "A14" ;
# LOCATE COMP "CL_LVDS_N3" SITE "C14" ;
# LOCATE COMP "CL_LVDS_P4" SITE "D14" ;
# LOCATE COMP "CL_LVDS_N4" SITE "E14" ;
# LOCATE COMP "CL_LVDS_P5" SITE "B15" ;
# LOCATE COMP "CL_LVDS_N5" SITE "C15" ;
# LOCATE COMP "CL_LVDS_P6" SITE "D15" ;
# LOCATE COMP "CL_LVDS_N6" SITE "E15" ;
# LOCATE COMP "CL_LVDS_P7" SITE "A16" ;
# LOCATE COMP "CL_LVDS_N7" SITE "B16" ;
# LOCATE COMP "CL_SPR0" SITE "D16" ;
# LOCATE COMP "CL_SPR1" SITE "B17" ;
# LOCATE COMP "CL_SPR2" SITE "C17" ;
# LOCATE COMP "CL_SPR3" SITE "A17" ;
# LOCATE COMP "CL_SPR4" SITE "B18" ;
# LOCATE COMP "FPGA_VIDCLK" SITE "A19" ;
# LOCATE COMP "100MHZP" SITE "A4" ;
# LOCATE COMP "100MHZN" SITE "A5" ;
# LOCATE COMP "MEMORY_MEM_A6" SITE "B5" ;
# LOCATE COMP "MEMORY_MEM_A8" SITE "C5" ;
# LOCATE COMP "MEMORY_MEM_A1" SITE "C4" ;
# LOCATE COMP "MEMORY_MEM_A11" SITE "B4" ;
# LOCATE COMP "MEMORY_MEM_A4" SITE "B3" ;
# LOCATE COMP "MEMORY_MEM_A7" SITE "E4" ;
# LOCATE COMP "MEMORY_MEM_A10" SITE "D5" ;
# LOCATE COMP "MEMORY_MEM_A12" SITE "C3" ;
# LOCATE COMP "MEMORY_MEM_A5" SITE "F4" ;
# LOCATE COMP "MEMORY_MEM_A9" SITE "E3" ;
# LOCATE COMP "MEMORY_MEM_A2" SITE "E5" ;
# LOCATE COMP "MEMORY_MEM_A3" SITE "F5" ;
# LOCATE COMP "MEMORY_MEM_DQ13" SITE "A2" ;
# LOCATE COMP "MEMORY_MEM_DQ15" SITE "B1" ;
# LOCATE COMP "MEMORY_MEM_DQ11" SITE "C2" ;
# LOCATE COMP "MEMORY_MEM_DQ9" SITE "C1" ;
# LOCATE COMP "MEMORY_MEM_DQ8" SITE "D1" ;
# LOCATE COMP "MEMORY_MEM_DQ14" SITE "E1" ;
# LOCATE COMP "MEMORY_MEM_DQS1_P" SITE "H4" ;
# LOCATE COMP "MEMORY_MEM_DQS1_N" SITE "G5" ;
# LOCATE COMP "MEMORY_MEM_DM1" SITE "H5" ;
# LOCATE COMP "MEMORY_MEM_DQ12" SITE "F3" ;
# LOCATE COMP "MEMORY_MEM_DQ10" SITE "E2" ;
# LOCATE COMP "MEMORY_MEM_DQ6" SITE "G2" ;
# LOCATE COMP "MEMORY_MEM_DQ1" SITE "F1" ;
# LOCATE COMP "MEMORY_MEM_DQ3" SITE "G1" ;
# LOCATE COMP "MEMORY_MEM_DM0" SITE "J4" ;
# LOCATE COMP "MEMORY_MEM_DQ7" SITE "J3" ;
# LOCATE COMP "MEMORY_MEM_DQS0_P" SITE "K2" ;
# LOCATE COMP "MEMORY_MEM_DQS0_N" SITE "J1" ;
# LOCATE COMP "MEMORY_MEM_DQ5" SITE "H1" ;
# LOCATE COMP "MEMORY_MEM_CS_N" SITE "K1" ;
# LOCATE COMP "MEMORY_MEM_DQ2" SITE "K4" ;
# LOCATE COMP "VREF_DEV" SITE "K5" ;
# LOCATE COMP "MEMORY_MEM_DQ4" SITE "L4" ;
# LOCATE COMP "MEMORY_MEM_DQ0" SITE "L5" ;
# LOCATE COMP "MEMORY_MEM_CK_P" SITE "M4" ;
# LOCATE COMP "MEMORY_MEM_CK_N" SITE "N5" ;
# LOCATE COMP "MEMORY_MEM_RESET_N" SITE "N4" ;
# LOCATE COMP "MEMORY_MEM_BA0" SITE "P5" ;
# LOCATE COMP "MEMORY_MEM_BA1" SITE "N3" ;
# LOCATE COMP "MEMORY_MEM_BA2" SITE "M3" ;
# LOCATE COMP "MEMORY_MEM_ODT" SITE "L2" ;
# LOCATE COMP "MEMORY_MEM_CKE" SITE "N2" ;
# LOCATE COMP "MEMORY_MEM_WE_N" SITE "M1" ;
# LOCATE COMP "MEMORY_MEM_CAS_N" SITE "L1" ;
# LOCATE COMP "MEMORY_MEM_RAS_N" SITE "P1" ;
# LOCATE COMP "MEMORY_MEM_A0" SITE "P2" ;
LOCATE COMP "MIPI1_SELECT" SITE "R1" ;
LOCATE COMP "VIDEO_SYNC_DE" SITE "T1" ;
LOCATE COMP "TEL_COM_RS485_1_DE" SITE "U1" ;
LOCATE COMP "TEL_COM_RS485_2_DE" SITE "V1" ;
LOCATE COMP "TEL_COM_RS485_3_DE" SITE "W1" ;
LOCATE COMP "TEL_COM_RS485_4_DE" SITE "Y2" ;
LOCATE COMP "MIPI0_SELECT" SITE "R3" ;
#config IO type
IOBUF PORT "nReset" PULLMODE=UP IO_TYPE=LVCMOS18 ;
IOBUF PORT "MIPI0_SELECT" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST ;
IOBUF PORT "MIPI1_SELECT" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST ;
IOBUF PORT "VIDEO_SYNC" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA ;
IOBUF PORT "VIDEO_SYNC_DE" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST ;
IOBUF PORT "SN_2_ZABAD" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST ;
IOBUF PORT "ZABAD_2_SN" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "COM_SAFE_ARM_OUT" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST ;
IOBUF PORT "COM_SAFE_ARM_IN" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA ;
IOBUF PORT "TEL_COM_RS485_1_DE" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=FAST ;
IOBUF PORT "TEL_COM_RS485_2_DE" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST ;
IOBUF PORT "TEL_COM_RS485_3_DE" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST ;
IOBUF PORT "TEL_COM_RS485_4_DE" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST ;
IOBUF PORT "TEL_COM_RS485_5_DE" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST ;
IOBUF PORT "TEL_COM_RS485_2" IO_TYPE=LVCMOS33 PULLMODE=NONE OPENDRAIN=OFF DRIVE=NA ;
IOBUF PORT "TEL_COM_RS485_3" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=FAST ;
IOBUF PORT "TEL_COM_RS485_4" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA ;
IOBUF PORT "TEL_COM_RS485_5" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=FAST ;
IOBUF PORT "TEL_COM_RS485_1" IO_TYPE=LVCMOS33 PULLMODE=NONE CLAMP=ON OPENDRAIN=OFF HYSTERESIS=NA DRIVE=8 SLEWRATE=FAST ;
IOBUF PORT "COM" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST OPENDRAIN=OFF CLAMP=ON PULLMODE=NONE ;
IOBUF PORT "COM_DE" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST ;
IOBUF PORT "COM_PF" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST PULLMODE=NONE ;
IOBUF PORT "COM_PF_DE" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST ;
IOBUF PORT "COM_WH" IO_TYPE=LVCMOS33 DRIVE=NA PULLMODE=NONE ;
IOBUF PORT "COM_WH_DE" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST ;
IOBUF PORT "PIB_COM" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST PULLMODE=NONE ;
IOBUF PORT "PIB_COM_DE" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST ;
IOBUF PORT "SERVO_COM" IO_TYPE=LVCMOS33 DRIVE=NA PULLMODE=NONE ;
IOBUF PORT "SERVO_COM_DE" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST ;
IOBUF PORT "SN_2_GPS_DAT" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST ;
IOBUF PORT "SN_2_IMU_CLK" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST ;
IOBUF PORT "SN_2_IMU_DAT" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST ;
IOBUF PORT "TEL_CLK" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST PULLMODE=NONE ;
IOBUF PORT "TEL_CLK_DE" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST ;
BANK 0 VCCIO 2.5 V;
BANK 1 VCCIO 2.5 V;
BANK 2 VCCIO 1.8 V;
BANK 3 VCCIO 3.3 V;
BANK 6 VCCIO 1.35 V;
BANK 7 VCCIO 1.35 V;
BANK 8 VCCIO 3.3 V;
IOBUF PORT "GPS_2_SN_DAT" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "IMU_2_SN_DAT" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "IMU_2_SN_CLK" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "GPS_2_SN_CLK" IO_TYPE=LVCMOS33 ;
LOCATE COMP "FPGA_VIDCLK" SITE "A19" ;
IOBUF PORT "FPGA_VIDCLK" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
